body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
}
*{
    font-family: montserrat;
    text-decoration: none;
}

.main {
  display: grid;
  grid-template-columns: 400px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) ;
  width: 400px;
  padding: 20px 30px 40px 30px;
  border-radius: 5px;
}

.login-form{
  font-size: 20px;
  text-align: center;
}

.username ,.password {
  margin-left: 20px;
  margin-bottom: 20px;
}
.username-input ,.password input {
  width: 340px;
  padding: 10px 0px;
  padding-left: 20px;
  margin-top: 10px;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.submission {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}
.submit,.reg-button{
  box-sizing: border-box;
  padding: 13px 50px;
  background-color: #0099ff;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.85s;

}

.submit:hover,.reg-button:hover {
  background-color: #237fbd;
}

